@CHARSET "UTF-8";
 a:LINK,a:VISITED {
	color:orange;
	text-decoration: none;	
}
 a:HOVER {
	color:green;
}
#div_1{
    border:red 5px solid;
    margin:10px;
    padding:10px;
}
#news{
  margin:5px auto; 
}


.m{
   font-size: 20px;
   color:black;
}


.l{
   font-size: 30px;
   color:green;
}


.s{
   font-size: 15px;
   color:blue;
}